*, *::before, *::after {
    box-sizing: border-box;
  }

.mainbody{
    position: absolute;
    background-color: rgb(200,217,152);
    padding: 0px;
    margin: 5%;
    border: solid 15px rgb(152,169,107);
    border-radius: .5em;

}

.leftbody{
    border-right: 4px double #b0c182;
    border-right: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40;

}

.textbox{
    border: solid 15px rgb(152,169,107);
    border-radius: .5em;
    background-color: rgb(118,150,116);
    padding: 20px;
    margin: 30px;
    position: absolute;
    top:20px;
    font-size: 6rem;
    font-weight: bolder;
    letter-spacing: 5px;
    font-family: 'Trocchi', serif;
    line-height: .9;
    color: rgb(200,217,152);
    text-align: center;
}


.hero{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {
        content:"";
        background-color: #487346;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23768c3a' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%2396ac58' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%2396ac58' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23768c3a' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23768c3a' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%2396ac58' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
        background-size:auto;
        position: absolute;
        top:0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        opacity:.75;

}

.thumbnail {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}

img:hover{
    box-shadow: 0 0 2px 1px;
}